// color vars

$primary-color: #85C342;
$secondary-color: #59C1AE;
$tertiary-color: #D269E1;
$off-white-bg-color:#F7F8F8;
$extra-light-gray-color: #f2f2f2;
$light-gray-color: #AEACAC;
$gray-color:#9EA1A4;
$dark-gray-color:#333333;
$success-color:#a8d587;
$warning-color:#f0ad4e;
$yellow-color:#FBBB42;
$green-color: #9ACA40;
$orange-color: #F63706;
$text-color: #2A2A2A;
$body-text-color: #707070;
$dark-text-color: #2A2A2A;
$black-color:#2A2A2A;
$link-color: #4A90E2;
$border-color:#E5E5E5;