//margin helpers
.margin-auto {
  margin: 0 auto;
}
.margin {
  margin: $baseline !important;
}
.margin-top {
  margin-top: $baseline !important;
}
.margin-right {
  margin-right: $baseline !important;
}
.margin-bottom {
  margin-bottom: $baseline !important;
}
.margin-left {
  margin-left: $baseline !important;
}
.double-margin-top {
  margin-top: $baseline*2 !important;
}
.double-margin-right {
  margin-right: $baseline*2 !important;
}
.double-margin-bottom {
  margin-bottom: $baseline*2 !important;
}
.double-margin-left {
  margin-left: $baseline*2 !important;
}
.triple-margin-top {
  margin-top: $baseline*3 !important;
}
.triple-margin-right {
  margin-right: $baseline*3 !important;
}
.triple-margin-bottom {
  margin-bottom: $baseline*3 !important;
}
.triple-margin-left {
  margin-left: $baseline*3 !important;
}
.half-margin-top {
  margin-top: $baseline/2 !important;
}
.half-margin-right {
  margin-right: $baseline/2 !important;
}
.half-margin-bottom {
  margin-bottom: $baseline/2 !important;
}
.half-margin-left {
  margin-left: $baseline/2 !important;
}
.quarter-margin-top {
  margin-top: $baseline/4 !important;
}
.quarter-margin-right {
  margin-right: $baseline/4 !important;
}
.quarter-margin-bottom {
  margin-bottom: $baseline/4 !important;
}
.quarter-margin-left {
  margin-left: $baseline/4 !important;
}
.no-margin {
  margin: 0px !important;
}
.no-margin-top {
  margin-top: 0px !important;
}
.no-margin-right {
  margin-right: 0px !important;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}
.no-margin-left {
  margin-left: 0px !important;
}
.large-margin-top {
  margin-top: $baseline*3 !important;
}

//padding helpers
.padded {
  padding: $baseline !important;
}
.padding-top {
  padding-top: $baseline !important;
}
.padding-right {
  padding-right: $baseline !important;
}
.padding-bottom {
  padding-bottom: $baseline !important;
}
.padding-left {
  padding-left: $baseline !important;
}
.double-padded {
  padding: $baseline*2 !important;
}
.double-padding-top {
  padding-top: $baseline*2 !important;
}
.double-padding-right {
  padding-right: $baseline*2 !important;
}
.double-padding-bottom {
  padding-bottom: $baseline*2 !important;
}
.double-padding-left {
  padding-left: $baseline*2 !important;
}
.triple-padding-top {
  padding-top: $baseline*3 !important;
}
.triple-padding-right {
  padding-right: $baseline*3 !important;
}
.triple-padding-bottom {
  padding-bottom: $baseline*3 !important;
}
.triple-padding-left {
  padding-left: $baseline*3 !important;
}
.no-padding {
  padding: 0px !important;
}
.no-padding-top {
  padding-top: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}
.no-padding-bottom {
  padding-bottom: 0px !important;
}
.no-padding-left {
  padding-left: 0px !important;
}
.half-padding {
  padding: $baseline/2 !important;
}
.half-padding-top {
  padding-top: $baseline/2 !important;
}
.half-padding-right {
  padding-right: $baseline/2 !important;
}
.half-padding-bottom {
  padding-bottom: $baseline/2 !important;
}
.half-padding-left {
  padding-left: $baseline/2 !important;
}
.quarter-padding {
  padding: $baseline/4 !important;
}
.quarter-padding-top {
  padding-top: $baseline/4 !important;
}
.quarter-padding-right {
  padding-right: $baseline/4 !important;
}
.quarter-padding-bottom {
  padding-bottom: $baseline/4 !important;
}
.quarter-padding-left {
  padding-left: $baseline/4 !important;
}