.main-nav{
	transition-duration:.4s;
	background-color:white;
	box-shadow:none;
	border:none;
	padding:$baseline/2 0;
	.logo-svg{
		//to-do:changing menu
	}
	.navbar-brand{
		padding-top:0;
		padding-bottom:0;
	}
	a{
		&.navbar-brand{
			position:relative;
			top:12px;
		  @include breakpoint(sm) {
		    img{
		    	width:150px;
		    	position:relative;
		    	top:5px;
		    }
		  }
		}
	}
	span.menu-text{
		font-family:$regular-font-name;
		font-weight:900;
		text-transform:uppercase;
		font-size:12px;
		margin-right:5px;
		letter-spacing:1.5px;
		color:$black-color;
	}
	.md-menu{
		font-size:18px;
	}
	ul.main-links{
		padding:6px 0;
		li{
			font-family:$regular-font-name;
			font-weight:900;
			text-transform:uppercase;
			font-size:.7em;
			letter-spacing:1.5px;
			float: left;
			a{
				transition-duration:.2s;
				color:$primary-color;
				&:hover{
					color:#dddddd;
					background:transparent;
				}
				&:focus{
					background:transparent;
				}
			}
		}
	}
	.btn{
		padding:$baseline/2.5 $baseline;
		font-size:.7em;
		  @include breakpoint(md) {
		    width:100%;
		  }
	}
}

